*.pyc
*.dll
*.dylib
*.o
*.so
*.mod
*.bak
*.npz
*.mp4
*.pdf
*.stats
Thumbs.db
.DS_Store

*documentation/user/build
*documentation/developer/build
test/test_output/*
output/*
setup/*.log
setup/test_output/*
modeltests/*
