h5py==3.6.0
ipython==7.31.1
jupyter==1.0.0
keras
matplotlib==3.5.1
numpy==1.21.5
pandas==1.4.1
pmw==2.0.1
pyyaml==6.0
scikit-learn==1.0.2
scipy==1.7.3
setuptools==58.0.4
six==1.16.0
sphinx==4.4.0
tensorflow
tornado==6.1